<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row *ngIf='locationIsSet'>
        <ion-col>
          <sebm-google-map
            [latitude]='locationInfo.coords.latitude'
            [longitude]='locationInfo.coords.longitude'
            [zoom]='14'
            >
            <sebm-google-map-marker
              [latitude]='locationInfo.coords.latitude'
              [longitude]='locationInfo.coords.longitude'
              style='color:blue;'></sebm-google-map-marker>
            <sebm-google-map-marker
              *ngFor='let shop of shops; let i = index;'
              [latitude]='shop.location.lat'
              [longitude]='shop.location.lng'
              [title]='shop.name'
              [iconUrl]='shop.icon'>
                <sebm-google-map-info-window [disableAutoPan]="true">
                  <h5>{{ shop.name }}</h5>
                </sebm-google-map-info-window>
              </sebm-google-map-marker>
          </sebm-google-map>
        </ion-col>
      </ion-row>
</ion-content>
